body {
    background-color:E0E0E0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 30px;
    color:#71B7DD;
}

.img {
    width: 380px;
    height: 380px;
    top: 50px;
    left: 230px;
}

.elipse {
    width: 380px;
    height: 380px;
    top: 50px;
    left: 230px;
    border-radius: 100%;
    position: relative;
    background-color: #A4B8A4;
}

.texto {
    color: #1F1F1F;
    font-size: 30px;
    position:fixed;
    top: 600px;
    left: 240px
}

.escolhas1 {
    width: 270px;
    height: 99px;
    background-color: #FF7D7D;
    border-radius: 16px;
    color: #1F1F1F;
    font-size: 20px;
    position:absolute;
    right: 290px;
    top: 200px;
    border: 0px;
    font-weight: bold;
} 

.escolhas2 {
    width: 270px;
    height: 99px;
    background-color: #71B7DD;
    border-radius: 16px;
    color: #1F1F1F;
    font-size: 20px;
    position:absolute;
    right: 290px;
    top: 330px;
    border: 0px;
    font-weight: bold;
}

.escolhas3 {
    width: 270px;
    height: 99px;
    background-color: #A1D0A1;
    border-radius: 16px;
    color: #1F1F1F;
    font-size: 20px;
    position:absolute;
    right: 290px;
    top: 460px;
    border: 0px;
    font-weight: bold;
}

.fundoescolhas1 {
    width: 884px;
    height: 99px;
    border-radius: 16px;
    position: fixed;
    left: 700px;
    top: 200px;
    background-color:#FDBDBD;
}

.fundoescolhas2 {
    width: 884px;
    height: 99px;
    border-radius: 16px;
    position: fixed;
    left: 700px;
    top: 330px;
    background-color:#B6DEF3;
}

.fundoescolhas3 {
    width: 884px;
    height: 99px;
    border-radius: 16px;
    position: fixed;
    left: 700px;
    top: 460px;
    background-color:#C5EFC5;
}

.atvfisica {
    width: 365px;
    height: 99px;
    border-radius: 16px;
    position: fixed;
    background-color: #FF7D7D;
    border: 0px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    bottom: 100px;
    left: 300px;
}

.exfisico {
    width: 365px;
    height: 99px;
    border-radius: 16px;
    position: fixed;
    background-color: #71B7DD;
    border: 0px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    bottom: 100px;
    left: 760px;
}

.compsedentario {
    width: 365px;
    height: 99px;
    border-radius: 16px;
    position: fixed;
    background-color: #A1D0A1;
    border: 0px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    bottom: 100px;
    left: 1220px;
}